BasedOnStyle: Google
NamespaceIndentation: All
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: AlignAfterOperator
DerivePointerAlignment: false
PointerAlignment: Right
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: Empty
IncludeBlocks: Preserve
InsertBraces: true
InsertTrailingCommas: Wrapped
SortIncludes: CaseSensitive
# uncomment in clang-format-16
#RemoveSemicolon: true
#InsertNewlineAtEOF: true
