**/build/
**/build-*/
**/cmake-build-*/
*.DS_Store
*.vscode/
*.swp
*.class
*.gch
*.a
*.o
*.pb.cc
*.pb.h
*.retry
.gradle/*
.vscode/*
**/.idea/*
*xcworkspace*
CMakeLists.txt.user
.scannerwork/
peers.list
cmake-build*

.gtm
/.gtm/

*.idx

examples/**/db
.cache/**

# examples working directory
/examples/polkadot/syncing/
/examples/kusama/syncing/
/examples/rococo/syncing/
