version: '3'

# usage:
# - docker-compose up -d
# - docker-compose exec dev bash

services:
  dev:
    image: qdrvm/kagome-dev:minideb
    tty: true
    stdin_open: true
    working_dir: /app
    cap_add:
      - SYS_PTRACE
    volumes:
      - .:/app:rw
    environment:
      - GITHUB_HUNTER_USERNAME=$GITHUB_HUNTER_USERNAME
      - GITHUB_HUNTER_TOKEN=$GITHUB_HUNTER_TOKEN
    command: bash
