[settings]
timeout = 1000

[relaychain]
chain = "rococo-local"
command = "polkadot"

[[relaychain.node_groups]]
name = "validator"
count = 2
args = ["--log=beefy=debug", "--enable-offchain-indexing=true"]

[[relaychain.node_groups]]
name = "kagome-validator"
command = "kagome"
count = 1
args = ["--log=beefy=debug", "--enable-offchain-indexing=true"]

[[relaychain.nodes]]
name = "validator-unstable"
args = ["--log=beefy=debug", "--enable-offchain-indexing=true"]
