[settings]
timeout = 1000

[relaychain]
chain = "rococo-local"
command = "polkadot"

[[relaychain.node_groups]]
name = "validator"
count = 8
args = ["--log=beefy=debug", "--enable-offchain-indexing=true"]

[[relaychain.node_groups]]
name = "kagome-validator"
command = "kagome"
prometheus_prefix = "kagome"
count = 8
args = ["--log=beefy=debug", "--enable-offchain-indexing=true", "--wasm-execution=Compiled"]

#[[relaychain.nodes]]
#name = "validator-unstable"
#args = ["--log=beefy=debug", "--enable-offchain-indexing=true"]
