name: Telegram Notification

on:
  # pull_request:
  #   types: [created, closed, opened, reopened]
  # pull_request_target:
  #   types: [ created, closed, opened, reopened]
  # issues:
  #   types: [created, closed, opended, reopened]
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      #- uses: actions/checkout@v2
      - name: Notify the commit on Telegram
        uses: EverythingSuckz/github-telegram-notify@main
        with:
          bot_token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          chat_id: ${{ secrets.TELEGRAM_CHAT_ID }}
