#
# Copyright Quadrivium LLC
# All Rights Reserved
# SPDX-License-Identifier: Apache-2.0
#

name : Zombie Builder

on:
  schedule:
    - cron: '0 2 * * 0' # Update zombie builder image each Sunday night
  workflow_dispatch:

jobs:
  build_and_push_zombie_builder:
    runs-on: [ actions-runner-controller ]
    container: qdrvm/kagome-dev@sha256:2d70246c32418a3dd45c246d3f5c2dd99bdafde145b903271849affe476c4cfc
    steps:
    - uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6
    - name: build zombie-builder
      working-directory: ./zombienet/docker
      run: make builder_last
    - uses: azure/docker-login@83efeb77770c98b620c73055fbb59b2847e17dc0
      with:
        login-server: https://index.docker.io/v1/
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Push zombie-builder docker image
      working-directory: ./zombienet/docker
      run: make builder_push
